.container-fluid{
    
    font-family: 'Times New Roman', Times, serif;
}
/* start ohnmar */
.ohnmar{
    background-image: url('../images/soliderback.jpg');
    height: 90vh;
}
.ohnmarow{
    background-color: #353d25;
    opacity: 0.7;

}
.ohnmarow i{
    color:#dfd406;
    font-size: 15px;
}
.navbar, li a{
    color:#ffffff !important;
}


.ohnmarsecond img{
    width: 50%;
    height: 20vh;
}

/* end ohnmar */

/* start htain */
th-img-card{
    width: 100%;
    height: 219px;
    overflow: hidden;

}
.th-img-card img{
height: 219px;
}

.th-img{
width: 500px;
height: 198px;
overflow: hidden;

}
.th-img img{
    width: 621px;
    height: 350;
}
.th-price img{
    width: 100%;
    height: 200px;
}
.th-star i{
    color: yellow;
   
}
.th-but{
    padding: 10px;
    border: 1px solid;
    background-color: #4d5639;
    color: white;
}

/* end htain */


/* start uthein */
/* end uthein */

/* start nyi */
/* end nyi */