body{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
/* start ohnmar */
/* end ohnmar */

/* start htain */
/* end htain */


/* start uthein */
/* end uthein */

/* start nyi */
/* end nyi */